.albums {
    display: flex;
    align-items: center;
    gap: 4rem;
    position: absolute;
    margin-left: 10%;
}

.albums .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10vw;
    padding-top: 2rem;
}

@media (min-width: 800px) {
    .albums .wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .albums .wrapper .metadata {
        transform: translateY(-10rem);
    }
}

@media (min-width: 1400px) {
    .albums .wrapper {
        flex-direction: row-reverse;
        align-items: center;
        align-self: flex-start;
    }

    .albums .wrapper .metadata {
        transform: none;
    }
}

.albums .controls {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 200;
}

@media (min-width: 800px) {
    .albums .controls {
        transform: translate(1.5rem, 35rem);
    }
}

@media (min-width: 1400px) {
    .albums .controls {
        transform: none;
    }
}

.albums .controls button {
    width: 2rem;
    height: 2rem;
    position: relative;
    transition: var(--transition-base);
}

.albums .controls button:first-of-type::before,
.albums .controls button:first-of-type::after,
.albums .controls button:last-of-type::before,
.albums .controls button:last-of-type::after {
    content: '';
    background-color: black;
    width: 70%;
    height: 0.11rem;
    position: absolute;
    border-radius: 1rem;
}

.albums .controls button:first-of-type::before {
    right: -0.16rem;
    transform: rotate(45deg);
}

.albums .controls button:first-of-type::after {
    left: -0.16rem;
    transform: rotate(-45deg);
}

.albums .controls button:last-of-type::before {
    right: -0.16rem;
    transform: rotate(315deg);
}

.albums .controls button:last-of-type::after {
    left: -0.16rem;
    transform: rotate(-315deg);
}

/* HOVER STATES */

.albums .controls button:first-of-type:hover {
    transform: translateY(-0.2rem);
}

.albums .controls button:last-of-type:hover {
    transform: translateY(0.2rem);
}

.albums ul {
    display: none;
}

@media (min-width: 800px) {
    .albums ul {
        overflow: hidden;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25vh;
        top: 0;
        left: -20vh;
        position: absolute;
        transition: scroll 0.5s ease-in-out;
    }

    .albums ul li {
        height: 50vh;
    }

    .albums ul li:first-of-type {
        margin-top: 25vh;
    }

    .albums ul li:last-of-type {
        margin-bottom: 25vh;
    }
}

@media (min-width: 1400px) {
    .albums ul {
        overflow: hidden;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
        gap: 30vh;
        transition: scroll 0.5s ease-in-out;
    }

    .albums ul li {
        height: 50vh;
    }
}

.albums ul img {
    display: none;
}

@media (min-width: 800px) {
    .albums ul img {
        display: block;
        width: 50vh;
        margin-top: 2.5vh;
        border-radius: 0.5rem;
        aspect-ratio: 1;
        object-fit: cover;
        transform: scale(0.5);
    }
}

@media (min-width: 1400px) {
    .albums ul img {
        width: 50vh;
        transform: scale(1);
    }
}
