/* LAPTOP BUTTON */
.laptop-button {
    background-color: var(--laptop-color);
    width: 12rem;
    aspect-ratio: 1.5/1;
    position: absolute;
    border-radius: 0.4rem;
    box-shadow:
        inset -0.4rem -0.3rem 0 var(--laptop-box-shadow),
        0.2rem -0.2rem 0.3rem rgba(2, 14, 41, 0.459);
    left: 25vw;
    top: 27.5rem;
    transform: rotate(200deg) translateY(0);
}

@media (prefers-reduced-motion: no-preference) {
    .laptop-button {
        transition: var(--transition-base);
    }
}

.laptop.content-visible .laptop-button {
    transform: rotate(200deg) translateY(-100vh);
}

@media (min-width: 800px) {
    .laptop-button {
        width: 15rem;
        left: 22vw;
        top: 25rem;
    }
}

@media (min-width: 1400px) {
    .laptop-button {
        width: 15rem;
        left: 16vw;
        top: 25rem;
    }
}

.laptop-button:hover {
    transform: rotate(200deg) translateY(0.3rem);
    box-shadow:
        inset -0.4rem -0.3rem 0 rgba(0, 0, 0, 0.242),
        var(--hover-box-shadow);
}

.laptop-button img {
    width: 1.5rem;
}

@media (min-width: 800px) {
    .laptop-button img {
        width: 2rem;
    }
}

/* LAPTOP CONTENT */

.laptop-content {
    display: inline-block;
    transform: translateY(100vh);
    width: 27.5rem;
    left: calc(50% - 13.75rem);
    top: 25vh;
    position: fixed;
    perspective: 2400px;
    perspective-origin: 50% 100%;
    z-index: 700;
    filter: drop-shadow(0 0 1rem var(--laptop-box-shadow));
}

@media (prefers-reduced-motion: no-preference) {
    .laptop-content {
        transition: var(--transition-base);
    }
}

.laptop.content-visible .laptop-content {
    transform: translateY(0);
}

@media (min-width: 800px) {
    .laptop-content {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@media (min-width: 1400px) {
    .laptop-content {
        width: 60rem;
        left: calc(50% - 30rem);
        top: 17.5vh;
    }
}

.laptop-content .cover {
    width: 90%;
    left: 5%;
    height: 15rem;
    background-color: rgb(168, 33, 33);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    border-radius: 1rem 1rem 0 0;
    border: 0.75rem solid var(--laptop-color-dark);
}

@media (prefers-reduced-motion: no-preference) {
    .laptop-content .cover {
        transition: 900ms;
        animation: laptop-opening 3s forwards;
    }
}

@media (min-width: 800px) {
    .laptop-content .cover {
        height: 20rem;
    }
}

@media (min-width: 1400px) {
    .laptop-content .cover {
        height: 37em;
    }
}

.laptop-content .bottom {
    width: 100%;
    height: 1rem;
    background-color: var(--laptop-color);
    border-radius: 0 0 1rem 1rem;
}

.laptop-content .bottom::before {
    content: '';
    width: 10%;
    left: calc(50% - 5%);
    height: 0.5rem;
    position: absolute;
    background-color: var(--laptop-box-shadow);
    border-radius: 0 0 1rem 1rem;
}

/* LAPTOP SCREEN */

.laptop-content .screen {
    position: absolute;
    z-index: 300;
    width: 100%;
    height: 100%;

    background-color: rgb(235, 235, 235);
    overflow: hidden;
}

.laptop-content .screen .topbar {
    height: 3vh;
    top: 0;
    position: absolute;
    width: 100%;
    background-color: rgb(182, 182, 182);
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.laptop-content .screen .topbar .red,
.laptop-content .screen .topbar .orange,
.laptop-content .screen .topbar .green {
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
}

.laptop-content .screen .topbar .red {
    background-color: red;
    margin-left: 0.5rem;
}

.laptop-content .screen .topbar .orange {
    background-color: orange;
}

.laptop-content .screen .topbar .green {
    background-color: greenyellow;
}

.laptop-content .screen .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-top: 2rem;
    padding-left: 1rem;
}

.laptop-content .screen .header img {
    width: 6%;
}

.laptop-content .screen .header img:last-of-type {
    border-radius: 50%;
    position: absolute;
    right: 1rem;
}

.laptop-content .screen .projects {
    display: flex;
    position: absolute;
    bottom: -3rem;
    width: 100%;
}

.laptop-content .screen .projects a,
.laptop-content .screen .projects a img {
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .laptop-content .screen .projects a {
        transition: var(--transition-base);
    }
}

.laptop-content .screen .projects a:hover {
    scale: 1.1;
}
