/* PASSPORT BUTTON */

.passport-button {
    position: absolute;
    background-color: var(--passport-color);
    border-left: 0.5rem solid var(--passport-color-dark);
    width: 4rem;
    bottom: 10rem;
    left: 5vw;
    transform: rotate(-20deg) translateY(0);
    aspect-ratio: 1/1.3;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: -0.2rem 0.2rem 0.3rem rgba(2, 14, 41, 0.459);
    color: var(--passport-color-text);
    font-size: 0.5rem;
    z-index: 10000;
}

@media (prefers-reduced-motion: no-preference) {
    .passport-button {
        transition: var(--transition-long);
    }
}

.passport.content-shown .passport-button {
    transform: rotate(-20deg) translateY(100vh);
}

@media (min-width: 800px) {
    .passport-button {
        width: 5rem;
        bottom: 5rem;
    }
}

.passport-button:hover {
    transform: rotate(-20deg) translateY(-0.3rem);
    box-shadow: var(--hover-box-shadow);
}

.passport-button img {
    width: 80%;
}

.passport-button p {
    color: var(--passport-color-text);
    font-size: 0.2rem;
    margin-bottom: 0.2rem;
}

/* PASSPORT CONTENT */

.passport-content {
    z-index: 1000;
    position: fixed;
    background-color: white;
    aspect-ratio: 1.5/1;
    padding: 2rem;
    width: 90vw;
    left: 5vw;
    top: 17.5vh;
    border-radius: 0.5rem 0.5rem 0 0;
    outline: 1rem solid var(--passport-color);
    overflow: scroll;
    transform: translateY(100vh);
    text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
    .passport-content {
        transition: var(--transition-long);
    }
}

.passport.content-shown .passport-content {
    transform: translateY(0);
}

@media (min-width: 800px) {
    .passport-content {
        left: 12.5vw;
        width: 75vw;
    }
}

@media (min-width: 1400px) {
    .passport-content {
        left: 25vw;
        width: 50vw;
    }
}

.passport-content.visible {
    transform: none;
}

.passport-content .container {
    display: flex;
    gap: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    flex-direction: column;
}

@media (min-width: 800px) {
    .passport-content .container {
        flex-direction: row;
    }
}

.passport-content .container div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.passport-content .container div section {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.passport-content img {
    width: 20vw;
    position: absolute;
    right: 2rem;
}

@media (min-width: 800px) {
    .passport-content img {
        width: 10vw;
        position: static;
    }

    .passport-content .skills {
        position: absolute;
        top: 3rem;
    }

    .passport-content .container div:first-of-type section:first-of-type,
    .passport-content .container div:first-of-type section:nth-of-type(2) {
        position: absolute;
        left: 15vw;
    }

    .passport-content .container div:first-of-type section:first-of-type {
        top: 4rem;
    }
    .passport-content .container div:first-of-type section:nth-of-type(2) {
        top: 7rem;
    }
}

@media (min-width: 1400px) {
    .passport-content .container div:first-of-type section:first-of-type,
    .passport-content .container div:first-of-type section:nth-of-type(2) {
        left: 13vw;
    }
}

/* svg animation autograph */

.passport-content svg {
    width: 10rem;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.passport-content .cls-1 {
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-linecap: round;
    stroke-linejoin: round;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 2000;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .passport.content-shown .passport-content #e1 path,
    .passport.content-shown .passport-content #e2 path,
    .passport.content-shown .passport-content #e3 path,
    .passport.content-shown .passport-content #va path {
        animation: draw 5s ease forwards;
        animation-delay: 0.5s;
    }
}
