/*
###############
          BASE STATE
###############
*/

.recordplayer {
    position: relative;
    height: 15rem;
    aspect-ratio: 1.5/1;
    background-color: var(--record-player-color);
    border-radius: 1rem;
    left: 15vw;
    top: 10vh;
    box-shadow:
        inset 0.3rem 0.3rem 0 var(--record-player-light-color),
        var(--record-player-box-shadow);
}

.recordplayer .vinyl-spin-wrapper {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 1rem;
    left: 1.5rem;
    height: 13rem;
}

.recordplayer .vinyl {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: vinyl-play-small 2s forwards ease-in-out 1s;
    box-shadow: var(--record-player-box-shadow);
    height: 13rem;
    background-image: linear-gradient(
        45deg,
        #000 0%,
        #000 30%,
        rgb(33, 33, 33) 50%,
        #000 70%,
        #000 100%
    );
}

@media (min-width: 800px) {
    .recordplayer .vinyl {
        animation: vinyl-play-medium 2s forwards ease-in-out 1s;
    }
}

@media (min-width: 1400px) {
    .recordplayer .vinyl {
        animation: vinyl-play-large 2s forwards ease-in-out 1s;
    }
}

@keyframes vinyl-play-small {
    0% {
        top: -16rem;
        left: -10rem;
        filter: brightness(2);
        scale: 0.3;
    }

    50% {
        top: -16rem;
        left: 1.5rem;
        filter: brightness(2);
        scale: 0.3;
    }

    100% {
        top: 0;
        left: 0;
        filter: brightness(1);
        scale: 1;
    }
}

@keyframes vinyl-play-medium {
    0% {
        top: -5.5rem;
        left: -22rem;
        filter: brightness(2);
        scale: 0.8;
    }

    50% {
        top: -5.5rem;
        left: 1.5rem;
        filter: brightness(2);
        scale: 0.8;
    }

    100% {
        top: 0;
        left: 0;
        filter: brightness(1);
        scale: 1;
    }
}

@keyframes vinyl-play-large {
    0% {
        top: 0;
        left: -41.5rem;
        filter: brightness(2);
        scale: 1.7;
    }

    50% {
        top: 0;
        left: -8rem;
        filter: brightness(2);
        scale: 1.7;
    }

    100% {
        top: 0;
        left: 0;
        filter: brightness(1);
        scale: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .recordplayer .vinyl {
        transition: var(--transition-base);
    }
}

.recordplayer .vinyl:hover {
    box-shadow: var(--hover-box-shadow);
}

.recordplayer .vinyl .wrapper {
    background-color: var(--primary-color);
    position: absolute;
    width: 4.5rem;
    aspect-ratio: 1;
    z-index: 100;
    border-radius: 50%;
    left: 4.25rem;
    top: 4.25rem;
}

.recordplayer .vinyl p {
    font-size: 0.4rem;
    transform: translateY(2rem);
    text-align: center;
}

.recordplayer .arm {
    position: relative;
    height: 12rem;
    width: 5rem;
    left: 15rem;
    top: 2rem;
}

.recordplayer .arm .circle {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 5rem;
    background-color: var(--record-player-dark-color);
}

.recordplayer .arm .circle::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    aspect-ratio: inherit;
    width: 4rem;
    left: 0.5rem;
    top: 0.5rem;
    z-index: 100;
    background-color: var(--record-player-light-color);
}

.recordplayer .arm .base {
    position: absolute;
    height: 80%;
    width: 0.6rem;
    background-image: linear-gradient(
        to right,
        var(--record-player-light-color),
        var(--record-player-color)
    );
    z-index: 200;
    left: 2.2rem;
    top: 2.3rem;
    transform-origin: center top;
    box-shadow: var(--record-player-box-shadow);
}

.recordplayer .arm .base::before {
    content: '';
    position: absolute;
    background-color: var(--record-player-dark-color);
    width: 1.2rem;
    height: 2rem;
    left: -0.3rem;
    top: -0.5rem;
    border-radius: 0.2rem;
}

.recordplayer .arm .base::after {
    content: '';
    position: absolute;
    background-color: var(--record-player-dark-color);
    width: 1.2rem;
    height: 1.5rem;
    left: -0.3rem;
    bottom: -0.5rem;
    border-radius: 0.2rem;
}

.recordplayer fieldset {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0.5rem;
    bottom: 2.25rem;
    border: none;
    gap: 0.25rem;
}

.recordplayer fieldset label {
    font-size: 0.5rem;
    color: var(--notebook-color);
}

/*
###############
          PLAYING STATE
###############
*/

@media (prefers-reduced-motion: no-preference) {
    .recordplayer.playing .arm .base {
        animation: record-arm-playing 120s;
    }
}

body:has(input#one[type='radio']:checked)
    .recordplayer.playing
    .vinyl-spin-wrapper {
    animation: vinyl-record-playing 8s infinite linear;
}

body:has(input#two[type='radio']:checked)
    .recordplayer.playing
    .vinyl-spin-wrapper {
    animation: vinyl-record-playing 5s infinite linear;
}

body:has(input#three[type='radio']:checked)
    .recordplayer.playing
    .vinyl-spin-wrapper {
    animation: vinyl-record-playing 2s infinite linear;
}
