/*
###############
          BASE STATE
###############
*/

.recordplayer {
    position: relative;
    height: 15rem;
    aspect-ratio: 1.5/1;
    background-color: var(--record-player-color);
    border-radius: 1rem;
    left: 15vw;
    top: 10vh;
    box-shadow:
        inset 0.3rem 0.3rem 0 var(--record-player-light-color),
        var(--record-player-box-shadow);
}

.recordplayer .vinyl {
    position: absolute;
    height: 13rem;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 1rem;
    left: 1.5rem;
    background-color: black;
    box-shadow: var(--record-player-box-shadow);
    transition: var(--transition-base);
}

.recordplayer .vinyl:hover {
    box-shadow: var(--hover-box-shadow);
}

.recordplayer .vinyl div {
    background-color: var(--primary-color);
    position: absolute;
    width: 4.5rem;
    aspect-ratio: 1;
    z-index: 100;
    border-radius: 50%;
    left: 4.25rem;
    top: 4.25rem;
}

.recordplayer .vinyl p {
    font-size: 0.4rem;
    transform: translateY(2rem);
    text-align: center;
}

.recordplayer .arm {
    position: relative;
    height: 12rem;
    width: 5rem;
    left: 15rem;
    top: 2rem;
}

.recordplayer .arm .circle {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 5rem;
    background-color: var(--record-player-dark-color);
}

.recordplayer .arm .circle::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    aspect-ratio: inherit;
    width: 4rem;
    left: 0.5rem;
    top: 0.5rem;
    z-index: 100;
    background-color: var(--record-player-light-color);
}

.recordplayer .arm .base {
    position: absolute;
    height: 80%;
    width: 0.6rem;
    background-color: var(--record-player-light-color);
    z-index: 200;
    left: 2.2rem;
    top: 2.3rem;
    transform-origin: center top;
    box-shadow: var(--record-player-box-shadow);
}

.recordplayer .arm .base::before {
    content: '';
    position: absolute;
    background-color: var(--record-player-dark-color);
    width: 1.2rem;
    height: 2rem;
    left: -0.3rem;
    top: -0.5rem;
    border-radius: 0.2rem;
}

.recordplayer .arm .base::after {
    content: '';
    position: absolute;
    background-color: var(--record-player-dark-color);
    width: 1.2rem;
    height: 1.5rem;
    left: -0.3rem;
    bottom: -0.5rem;
    border-radius: 0.2rem;
}

/*
###############
          PLAYING STATE
###############
*/

.recordplayer.playing .arm .base {
    animation: record-arm-playing 120s;
}

.recordplayer.playing .vinyl {
    animation: vinyl-record-playing 8s infinite linear 2s;
}
