/* WEEKLY NERD BUTTON */

.weeklynerd-button {
    display: block;
    position: absolute;
    height: 9rem;
    background-color: var(--notebook-color);
    aspect-ratio: 1/1.3;
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: 0.5rem solid var(--notebook-side-color);
    background-image: url(http://www.transparenttextures.com/patterns/cardboard.png);
    background-size: contain;
    left: 70vw;
    top: 23rem;
    transform: rotate(-10deg);
    box-shadow: -0.2rem 0.2rem 0.3rem rgba(2, 14, 41, 0.459);
}

@media (prefers-reduced-motion: no-preference) {
    .weeklynerd-button {
        transition: var(--transition-base);
    }
}

@media (min-width: 800px) {
    .weeklynerd-button {
        left: 55vw;
    }
}

@media (min-width: 1400px) {
    .weeklynerd-button {
        height: 10rem;
        left: 34rem;
        top: 25rem;
    }
}

.weeklynerd-button:hover {
    box-shadow: var(--hover-box-shadow);
    transform: rotate(-10deg) translateY(-0.3rem);
}

.weeklynerd-button img {
    width: 50%;
}

/* WEEKLY NERD CONTENT */
.weeklynerd-content {
    display: none;
}

.weeklynerd-content.visible {
    display: block;
    position: fixed;
    top: 2rem;
    z-index: 5000;
    left: 5vw;
    width: 90vw;
    height: 92vh;
    padding: 4rem;
    background-color: #e9e9e9;
    background-image: radial-gradient(#3e3e3e 0.5px, #e9e9e9 0.5px);
    background-size: 13px 13px;
    border-radius: 1rem;
    box-shadow: 0 0 2rem black;
}

@media (min-width: 800px) {
    .weeklynerd-content {
        left: 15vw;
        width: 70vw;
    }
}

@media (min-width: 1400px) {
    .weeklynerd-content {
        left: 25vw;
        width: 50vw;
    }
}

.weeklynerd-content .week-1 {
    overflow-y: scroll;
    height: 80vh;
    padding-bottom: 10vh;
}

.weeklynerd-content ul {
    display: flex;
    overflow-x: scroll;
    height: 70vh;
}

.weeklynerd-content img {
    height: 90%;
}
