/*
###############
          GENERAL STYLING
###############
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #a6a6a6;

    --wood-color: #4a3516;

    --passport-color: #8b1414;
    --passport-color-dark: #640d0d;
    --passport-color-text: #f4c900;

    --transition-base: 0.5s ease-out;
}

body {
    background-color: var(--primary-color);
    overflow: hidden;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

h1 {
    position: absolute;
    left: 10rem;
}

div {
    display: inline;
}

/*
###############
          ALBUM COVERS
###############
*/

.albums {
    display: flex;
    align-items: center;
    gap: 4rem;
    position: absolute;
    margin-left: 10%;
}

.albums .controls {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.albums .controls button {
    width: 2rem;
    height: 2rem;
    position: relative;
    transition: var(--transition-base);
}

.albums .controls button:first-of-type::before,
.albums .controls button:first-of-type::after,
.albums .controls button:last-of-type::before,
.albums .controls button:last-of-type::after {
    content: '';
    background-color: black;
    width: 70%;
    height: 0.11rem;
    position: absolute;
    border-radius: 1rem;
}

.albums .controls button:first-of-type::before {
    right: -0.16rem;
    transform: rotate(45deg);
}

.albums .controls button:first-of-type::after {
    left: -0.16rem;
    transform: rotate(-45deg);
}

.albums .controls button:last-of-type::before {
    right: -0.16rem;
    transform: rotate(315deg);
}

.albums .controls button:last-of-type::after {
    left: -0.16rem;
    transform: rotate(-315deg);
}

/* HOVER STATES */

.albums .controls button:first-of-type:hover {
    transform: translateY(-0.2rem);
}

.albums .controls button:last-of-type:hover {
    transform: translateY(0.2rem);
}

.albums ul {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25vh;
    transition: scroll 0.5s ease-in-out;
}

.albums ul li {
    height: 50vh;
}

.albums ul li:first-of-type {
    margin-top: 25vh;
}

.albums ul li:last-of-type {
    margin-bottom: 25vh;
}

.albums ul img {
    width: 50vh;
    border-radius: 0.5rem;
    aspect-ratio: 1;
    object-fit: cover;
}

.albums ul li:nth-of-type(1) img {
    filter: grayscale(0);
}
.albums ul li:nth-of-type(2) img {
    filter: grayscale(0.2);
}
.albums ul li:nth-of-type(3) img {
    filter: grayscale(0.4);
}
.albums ul li:nth-of-type(4) img {
    filter: grayscale(0.6);
}
.albums ul li:nth-of-type(5) img {
    filter: grayscale(0.8);
}

/*
###############
          TABLE
###############
*/

/* https://www.transparenttextures.com/wood-pattern.html */

.table {
    background-color: var(--wood-color);
    background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
    height: 80vh;
    width: 60vw;
    right: -10vw;
    bottom: 0;
    position: absolute;
    border-radius: 0.2rem;
}

/*
###############
          RECORD PLAYER
###############
*/

/*
###############
          PASSPORT
###############
*/

/* PASSPORT BUTTON */
.passport-button {
    position: absolute;
    background-color: var(--passport-color);
    border-left: 0.5rem solid var(--passport-color-dark);
    width: 5rem;
    bottom: 5rem;
    left: 5rem;
    transform: rotate(-20deg);
    aspect-ratio: 1/1.3;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: -0.2rem 0.2rem 0.3rem rgba(2, 14, 41, 0.459);
    color: var(--passport-color-text);
    font-size: 0.5rem;
    transition: var(--transition-base);
}

.passport-button:hover {
    transform: rotate(-20deg) translateY(-0.3rem);
    box-shadow: 0rem 0rem 0.5rem rgba(255, 240, 197, 0.659);
}

.passport-button img {
    width: 80%;
}

.passport-button p {
    color: var(--passport-color-text);
    font-size: 0.2rem;
    margin-bottom: 0.2rem;
}

/* PASSPORT CONTENT */

.passport-content {
    display: none;
}

/*
###############
          WEEKLY NERD
###############
*/

/* WEEKLY NERD BUTTON */

/* WEEKLY NERD MAP */
